<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head profile="http://gmpg.org/xfn/11">

  <title>Bức họa nổi tiếng &#8211; Danh sách những bức tranh nổi tiếng thế giới</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
  <meta name="description" content="" />
</head>

<body>

<div id="wrap">

  <div id="header">
    <div class="wrap">
      <div id="logo">
        <a href="index.html"><img src='logo.jpg' width='83px' height='83px'></a>
      </div>
      <div class="searchform">
        <form class="searchform" action="#" id="cse-search-box">
          <input type="text" name="q" class="s" value="Tìm kiếm từ khóa" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
          <input type="hidden" name="cx" value="partner-pub-0956577070291964:9991229555" />
          <input type="hidden" name="cof" value="FORID:10" />
          <input type="hidden" name="ie" value="UTF-8" />
        </form>            </div>
    </div>
  </div> </div>    <!--end #header-->
<div id="nav">
  <ul class="nav superfish">
    <li class="page_item page-item-136 current_page_ancestor current_page_parent"><%= link_to "Bức Họa Nổi Tiếng", home_index_path %></li>
    <li class="page_item page-item-95"><%= link_to "Họa Sĩ Nổi Tiếng", static_pages_contact_path %></li>
    <li class="page_item page-item-100"><%= link_to "Lịch Sử Hội Họa Thế Giới", static_pages_history_path %></li>
  </ul>
</div>

<div id="inner">
<div id="content-sidebar-wrap">
<div id="content" class="hfeed">
<h2>
  Art History      </h2>
<div class="entry">


<p>The history of art is the academic school of study based on art and its developmental history as well as stylistic context (format, design, look, genre).  This includes large forms such as architecture as well as minor forms such as decorative objects.</p>
<p>Art history can be studied many ways and is broken down into multiple coexisting disciplines. Factions include but are not limited to connoisseurs, critics, and academic art historians.</p>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-Sleeping_Antelope_Tin_Taghirt.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Prehistoric-Art.jpg" alt="" title="Prehistoric Art" width="200" height="141" class="alignnone size-full wp-image-33070" /></a><br />
    Photo by: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Prehistoric_art">Wikipedia</a> <a rel="nofollow" href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons</a>
  </div>
  <h5>Prehistoric Art</h5>
  <hr />
  <p>Prehistoric art comprises of all arts and crafts that are produced in cultures that lack the development of written language and record-keeping.  Art from a culture progresses from being described as prehistoric when it either develops writing and record-keeping or has established significant connection with another culture that has.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/633px-Khorsabad-assyrian-statue.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Ancient-Near-East-Art.jpg" alt="" title="Ancient-Near-East-Art" width="200" height="189" class="alignnone size-full wp-image-33071" /></a><br />
    Photo by: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Ancient_art">Wikipedia</a> <a rel="nofollow" href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons</a>
  </div>
  <h5>Ancient Near East</h5>
  <hr />
  <p>The development of art in the ancient world societies would be characteristically different than it was in prehistoric societies. Textbook art history in the ancient near east would include art of Mesopotamian, Sumerian, Akkadian, Neo-Sumerian, Babylonian, Hittite, Elamite, Assyrian, Neo-Babylonian, Achaemid, Persian, and Sassanian societies.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/Egypt.Papyrus.01.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Ancient-Egyptian-Art.jpg" alt="" title="Ancient Egyptian Art" width="200" height="150" class="alignnone size-full wp-image-33072" /></a><br />
    Photo by: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Ancient_art">Wikipedia</a> <a rel="nofollow" href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons</a>
  </div>
  <h5>Ancient Egyptian Art</h5>
  <hr />
  <p>This art category includes art that belong to the civilization located in Nile Valley from 5000 BC to 300 AD.  Egyptian artwork was very stylized and symbolic in this period, with painting and sculpture being the most popular art.  The quality of Egyptian art throughout the ancient period was observed to be of high quality, and remained quite stable throughout 3000 BC to 300 AD with little influence from outside cultures.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-006-MAD_Frieze.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Greek-Art.jpg" alt="" title="Greek Art" width="200" height="87" class="alignnone size-full wp-image-33073" /></a><br />
    Photo by: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Art_in_Ancient_Greece">Wikipedia</a> <a rel="nofollow" href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons</a>
  </div>
  <h5>Greek Art</h5>
  <hr />
  <p>Greek art mainly specialized in architecture and sculpture.  Greek art influenced both the West and the East.  Not only did art in the Roman Empire draw Greek influence, but to the East, Alexander the Great’s conquests facilitated centuries of contact between Indian, Central Asian, and Greek cultures.  Greco-Buddhism art was one legacy of this interaction.  The highly technical expectations of the Greeks would influence art in Europe for many generations.  In the nineteenth century, Greek art traditions dominated the entire western art world.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/714px-Roman_sacrifice_Louvre_Ma992.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Roman-Art.jpg" alt="" title="Roman-Art" width="200" height="168" class="alignnone size-full wp-image-33074" /></a><br />
    Photo by: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Roman_art">Wikipedia</a> <a rel="nofollow" href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons</a>
  </div>
  <h5>Roman Art</h5>
  <hr />
  <p>Roman art spans Ancient Rome as well as the territories of the Roman Empire.  While Roman art is believed to have borrowed from Greek art (which it did rely on quite heavily), it also contains elements from Etruscan, Egyptian, and native Italic culture.  A prominent historian of Rome, Pliny, wrote that while many art forms advanced during Greek times remained more advanced than Roman art even during Rome’s prominent periods.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/Isaacs-Sacrifice-from-Marble-Sarcophagus-of-Junius-Bassus.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Early-Christian-Art.jpg" alt="" title="Early-Christian-Art" width="200" height="237" class="alignnone size-full wp-image-33075" /></a>
  </div>
  <h5>Early Christian Art</h5>
  <hr />
  <p>Early Christian art specifies the artwork produced by Christians in the time frame 100-500.  Art before 100 could not be distinguished as Christian without uncertainty.  Beyond 500, art by Christians portrayed elements of Byzantine art.</p>
  <p>Christian art was difficult to track.  One of the reasons is that most Christians were persecuted and were restricted from producing works of art.  They may also consisted of lower classes, which is reflected by the lack of patronage for art creation. Aside from that, scriptural restrictions disapproved of production of carved wood or stone in the form of an idol.  Christians may have bought pagan symbols, but transferred Christians ideology into them.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-Meister_von_Nerezi_001.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Byzantine-Art.jpg" alt="" title="Byzantine-Art" width="200" height="148" class="alignnone size-full wp-image-33076" /></a>
  </div>
  <h5>Byzantine Art</h5>
  <hr />
  <p>Byzantine art refers to art created in the territories of the Byzantine Empire between the fourth and fifteenth centuries. The Byzantine Empire was the political continuation of the Roman Empire, and therefore the classical artistic heritage is carried on through Byzantine art. Constantinople, the Byzantine capital, was adorned with large amounts of classical sculptures.</p>
  <p>The most prominent feature of Byzantine art was that it became more abstract, favoring symbolism rather than realistic representations.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/Christ-Enthroned-Celtic-Art.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Celtic-Art.jpg" alt="" title="Celtic-Art" width="200" height="260" class="alignnone size-full wp-image-33098" /></a></div>
  <h5>Art in Early Europe</h5>
  <hr />
  <p>This category includes art from European and Germanic societies before the Christianization of Europe.  Some of these include Scythian, Celtic, Iron-Age European, Ango-Saxon, and Viking societies.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/Caucasian_panel.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Islamic-Art.jpg" alt="" title="Islamic-Art" width="200" height="166" class="alignnone size-full wp-image-33077" /></a>
  </div>
  <h5>Islamic Art</h5>
  <hr />
  <p>This category encompasses art produced in the seventh century and onwards by people residing in places inhabited or ruled by culturally Islamic populations.  Islamic art does not necessarily include only religious art. It also includes elements from other aspects of Islamic society.  Some Islamic theologians actively discouraged secular elements in art.</p>
  <p>Islamic art includes the extensive use of decorated calligraphy and the use of arabesque, the geometrical repetition of vegetal or floral designs.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-Lorenzetti_amb.effect2.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Early-Medieval-Art.jpg" alt="" title="Early-Medieval-Art" width="200" height="112" class="alignnone size-full wp-image-33078" /></a>
  </div>
  <h5>Early Medieval Art</h5>
  <hr />
  <p>Art from Medieval times were mostly religious in focus, funded by influential Church figures such as bishops, abbeys, or wealthy secular patrons.  A distinguishing element of Medieval art concerns the lack of realism.  With the collapse of the Roman Empire came the loss of the knowledge of realism and perspective drawing.  Despite this, art was used during this era to convey religious ideology, and iconic art was oftentimes sufficient for such a task.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-Duccio_maesta1021.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Gothic-Art.jpg" alt="" title="Gothic-Art" width="200" height="99" class="alignnone size-full wp-image-33079" /></a>
  </div>
  <h5>Gothic Art</h5>
  <hr />
  <p>Gothic art followed from a Medieval art progression that grew out of France from the Romanesque art tradition in the mid-twelfth century, spearheaded by the development of Gothic architecture.  It grew popular north of the Alps but never quite overtook Italian classical styles.  International Gothic developed in the late fourteenth century, developing further until the late fifteenth century.  Late Gothic art grew in Germany as well as many areas well into the sixteenth century.  Prominent Gothic art include panel-painting, sculpture, illuminated manuscript, fresco, and stained glass.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-Botticelli-primavera.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Renaissance-Art-in-Italy.jpg" alt="" title="Renaissance-Art-in-Italy" width="200" height="131" class="alignnone size-full wp-image-33080" /></a>
  </div>
  <h5>Renaissance Art in Italy</h5>
  <hr />
  <p>Early Renaissance art emerged in the Italian city-state of Florence.  It began with Donatello and his revival of classical techniques such as contrapposto and subjects such as the unsupported nude.  Many artists came after him, studying lost ideas such as Roman architecture.  A large count of major artists, such as Brunelleschi, Donatello, Giotto, and Lorenzo Ghiberti worked on the Florence Cathedral.</p>
  <p>In the fifteenth century Renaissance art progressed further, being termed the High Renaissance by the sixteenth century.  Prominent artists from this era include Leonardo da Vinci, Michelangelo Buonarroti, and Raffaello Sanzio.  While there are no distinct “Renaissance” styles per se during this period, art by High Renaissance masters are all characterized by astounding technical skill.  High Renaissance art commanded such authority that they would be used as reference for instruction for many generations to come.  Artists could declare divine inspiration, raising the level of art to a status formerly limited to poetry.  Artistry would become a respectable profession that it had not been.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/Coronation-of-the-Virgin.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Renaissance-Art-Outside-Italy.jpg" alt="" title="Renaissance-Art-Outside-Italy" width="200" height="197" class="alignnone size-full wp-image-33081" /></a>
  </div>
  <h5>Renaissance Art Outside Italy</h5>
  <hr />
  <p>Renaissance art outside Italy is often referred to as Northern Renaissance, which is refers to the fact that most of Europe outside of Italy is north of it.  The realism in art respected in Italy did not influence the North until the late fifteenth century.  Gothic influence remained popular even until the onset of Baroque styles.  Many northern artists in the sixteenth century travelled to Rome for inspiration, of which often they found in High Renaissance art.</p>
  <p>While Italian painters were more partial to Greco-Roman styles, Germanic and Netherlandish art tended to be more religious and mythological in nature.  Northern Renaissance art also specialized in genre and landscape painting.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/Giotto_-_Scrovegni_-_-24-_-_Marriage_at_Cana.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Baroque-Art.jpg" alt="" title="Baroque-Art" width="200" height="188" class="alignnone size-full wp-image-33082" /></a>
  </div>
  <h5>Baroque Art</h5>
  <hr />
  <p>Baroque art grew during the 17th and 18th centuries.  It is considered part of the Counter-Reformation, the movement which sought to reconfigure the Catholic Church as a response to the Protestant Reformation.  Baroque art placed great emphasis on high detail and overly ornate decorations.  It would develop into Rococo in the mid-18th century, which was even more richly decorated and gaudy.  Contempt for such ornateness would eventually inspire Neoclassicism.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-Antoine_Watteau_-_Limbarco_per_Citera.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/18th-Century-Art.jpg" alt="" title="18th-Century-Art" width="200" height="131" class="alignnone size-full wp-image-33083" /></a>
  </div>
  <h5>18th Century Art</h5>
  <hr />
  <p>18th century art includes late Baroque in the early 18th century, Rococo in the mid-18th century, Neo-Classicism in the 18th to 19th century, and Romanticism in the late 18th and 19th century.  The styles of Baroque and Rococo were highly ornate, and artists of these styles often served kings.  Rococo which came after Baroque quickly fell out of favor when Louis XIV passed away.  Disgust for him among artists and the public paved the way for the development of Neoclassicism.</p>
  <p>Neoclassicists sought to revert to the simpler art of the Renaissance out of their distaste for the grandeur of Baroque and Rococo styles.  Some of the most renowned neoclassicists include Canova, Ingres, and Jacques-Louis David.</p>
  <p>Romanticism grew out of a certain group of individuals’ rejection of Enlightenment ideas and the art of Neoclassicists.  Romantic art focused on the utilization of motion and color to convey emotions, as opposed to the classicist use of Greco-Roman mythology and traditions.  Romanticism emphasized portraying the beauty and power of nature.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-Cole_Thomas_The_Voyage_of_Life_Youth_1842.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/19th-Century-Art.jpg" alt="" title="19th-Century-Art" width="200" height="136" class="alignnone size-full wp-image-33084" /></a>
  </div>
  <h5>19th Century Art</h5>
  <hr />
  <p>Art in the 19th century began with the continuation of Neo-classicism and Romanticism into the mid-century.  After that, a new classification of art became popular: modernism. The date 1863 is commonly identified as the beginning of modern art; it was the year that Edouard Manet exhibited the painting “Le dejeuner sur l’herbe” in Paris.  This is not to say that he is the father of modern art, however, as there were many others also who embarked towards new styles which would all constitute the art period known as modernism.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-Franz_Marc-The_fate_of_the_animals-1913.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/20th-Century-Art.jpg" alt="" title="20th-Century-Art" width="200" height="147" class="alignnone size-full wp-image-33085" /></a>
  </div>
  <h5>20th Century Art</h5>
  <hr />
  <p>20th century art came to be known as modernism, which began in the 19th century.  Movements such as Post Impressionism and Art Nouveau from the previous century led to Die Brucke in Germany as well as Fauvism in France.  The heart of Die Brucke led to what was called Expressionism which called for the emotions.  Kandinsky of Munich led another German group called the Der Blaue Reiter, which associated the blue rider imagery with spiritual/mystical art of the future.  Cubism by Picasso rejected the plastic ideas of the Renaissance by introducing multiple dimensions to 2 dimensional images.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/Contemporary-Art-by-Jean-Michel-Basquiat.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Contemporary-Art.jpg" alt="" title="Contemporary-Art" width="200" height="214" class="alignnone size-full wp-image-33086" /></a></div>
  <h5>Contemporary Art</h5>
  <hr />
  <p>Contemporary art is most commonly associated with produced since World War II.  Exhibitions of contemporary art are typically at museums and other similar art institutions.  These places are artist-run and are supported by the likes of awards, grants, prizes, and direct sales of exhibited works.</p>
  <p>Contemporary art institutions are often criticized for their exclusivist behaviors, or more specifically, their tendencies to regulate what can or cannot be considered contemporary art.  Outsider art, technically contemporary because they are created in present times, might be largely ignored by contemporary art institutions because the artists are self-taught and are therefore working beyond any art historical context.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/Hokusai-fuji7.png"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Printmaking.jpg" alt="" title="Printmaking" width="200" height="125" class="alignnone size-full wp-image-33087" /></a>
  </div>
  <h5>Prints/Printmaking</h5>
  <hr />
  <p>Printmaking is the process of creating art through printing (typically on paper).  Printmaking differs from photography in that it contains an element of original production, as opposed to the reproduction of an image, as in photography. Each print is made to be a unique copy with original qualities lent by the processes of printmaking, which is in contrast to photography in which one copy can be made in many multiples.</p>
  <p>Prints are done by transferring ink from premade screens or matrices to paper medium. Examples of matrices are copper or zinc plates, polymer plates for etching and engraving; aluminum, stone, or polymer for lithography; wooden blocks for wood engravings and woodcuts; and linoleum for linocuts.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-Wrightflyer_highres.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Photography.jpg" alt="" title="Photography" width="200" height="144" class="alignnone size-full wp-image-33088" /></a>
  </div>
  <h5>Photography</h5>
  <hr />
  <p>Photography is the process of creating pictures by allowing radiation to burn on a radiation-sensitive film or image sensors.  During the twentieth century people started to advocate and accept photography as fine arts.  In the U.S., photographers such as Edward Steichen, John Szarkowski, Alfred Stieglitz, Edward Weston, and F. Holland Day spent their lives promoting photography as a fine arts.  This resulted in a movement called Pictorialism, using soft foci for dream-like and romantic-looking photographs.  A reaction to this was the advocation of straight photography, which was to photograph objects as they were and not as imitations or representations of other things.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/Stroll_About_InSpring.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Chinese-Art.jpg" alt="" title="Chinese-Art" width="200" height="102" class="alignnone size-full wp-image-33089" /></a></div>
  <h5>Chinese Art</h5>
  <hr />
  <p>Art in China dates back as far back as 10,000 BC, comprising of sculptures and simple pottery.  Following this period was a series of art dynasties, each lasting as long as a few hundred years.  Art in the Republic of China in Taiwan and other overseas Chinese communities can be considered Chinese art because they originate from the culture and heritage of China.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-Hiroshige_Snow_falling_on_a_town.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Japanese-Art.jpg" alt="" title="Japanese-Art" width="200" height="126" class="alignnone size-full wp-image-33096" /></a>
  </div>
  <h5>Japanese Art</h5>
  <hr />
  <p>Japanese art has a long history, starting as early as 10,000 BC all the way until the present.  It ranges a variety of styles, including ancient pottery, wooden and bronze sculpture, and inked silk or paper.  Modern Japanese art also includes manga, or cartoon.</p>
  <p>Historically Japan was vulnerable to sudden onsets of novel and alien ideas, only to be followed by long-lasting eras of isolation and minimal contact with the world outside Japan.  Over time the Japanese absorbed and assimilated elements of foreign cultures with their own indigenous aesthetic tastes. In the seventh and eighth centuries Japan developed complex art with the spread of Buddhism.  In the ninth century, Japan started to rely less on Chinese influence and developed indigenous art forms.  Secular art started to flourish more and more.  Until the late fifteenth century both religious and secular art were popular.  However, with the Onin War, Japan came under a century of economic, political, and social turmoil.  After that, with the emergence of the Tokugawa shogunate state came the decline of religion, and the surviving arts became largely secular.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/717px-Ajanta_Painting_-_National_Musem_New_Delhi_-_IMG_2227_cropped.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Indian-art.jpg" alt="" title="Indian-art" width="200" height="167" class="alignnone size-full wp-image-33095" /></a>
  </div>
  <h5>Art in India</h5>
  <hr />
  <p>Indian art originates from India in the 3000 BC, ranging towards present time.  Compared to Western art, Indian art is more ornate and sensuous.  Strong design is characteristic of Indian art both in ancient and modern times.<br />
    Indian art is typically categorized into four specific periods:<br />
    -Ancient (3500 BC – 1200 AD)<br />
    -Islamic ascendancy (1192-1757)<br />
    -Colonial (1757-1947)<br />
    -Independence and postcolonial (post-1947)</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-Fronton_Cambodge_Musée_Guimet_9972.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Art-in-Southeast-Asia.jpg" alt="" title="Art-in-Southeast-Asia" width="200" height="147" class="alignnone size-full wp-image-33094" /></a>
  </div>
  <h5>Art in Southeast Asia</h5>
  <hr />
  <p>Southeast Asian art is associated with the geographical area that includes modern Thailand, Laos, Vietnam, Cambodia, Myanmar (formerly Burma), Singapore, Indonesia, and Malaysia. All these areas are also collectively known as Indochina. Influences come primarily from China, India, and indigenous cultures.  Of all the Southeast Asian countries, Vietnam has the most influence from Chinese culture.  In many Southeast Asian cultures, Hindu influence is retained despite Islamic conversion.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/Makonde-carving-in-ebony.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/African-Art.jpg" alt="" title="African-Art" width="200" height="107" class="alignnone size-full wp-image-33093" /></a><br />
    Photo by: <a rel="nofollow" href="http://en.wikipedia.org/wiki/African_art">Wikipedia</a> <a rel="nofollow" href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons</a>
  </div>
  <h5>African Art</h5>
  <hr />
  <p>Art of Africa constitutes one of the most diverse creations, owing to the large amounts of independent societies and civilizations, each with its own artistic culture.  African art also includes art by African Disporas, such as African Americans.  Characteristics common to most art from African culture include: emphasis on human forms, visual abstraction (as opposed to naturalistic representation), sculpture emphasis, three-dimensional qualities, and nonlinear scaling.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-RochesterPanel_01_2008.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Art-in-the-Americas.jpg" alt="" title="Art-in-the-Americas" width="200" height="133" class="alignnone size-full wp-image-33092" /></a></div>
  <h5>Art in the Americas</h5>
  <hr />
  <p>Art history in the Americas began in pre-Columbian times with indigenous cultures. This category refers to arts by indigenous peoples in the Americas from ancient times to present day.  The indigenous peoples referred to include those of South America, Meso America, and North America, including Greenland.</p></div>
<div class="recbox">
  <div class="imageboxleft"><a href="http://totallyhistory.com/wp-content/uploads/2011/05/800px-Yankee_Hat_art-MJC.jpg"><img src="http://totallyhistory.com/wp-content/uploads/2011/05/Art-of-Pacific-Cultures.jpg" alt="" title="Art-of-Pacific-Cultures" width="200" height="150" class="alignnone size-full wp-image-33091" /></a><br />
    Photo by: <a rel="nofollow" href="http://en.wikipedia.org/wiki/Oceanic_art">Wikipedia</a> <a rel="nofollow" href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons</a>
  </div>
  <h5>Art of Pacific Cultures</h5>
  <hr />
  <p>Art of Pacific cultures refers to those from the oceanic regions of present day Australia, Melanesia, Micronesia, and Polynesia, including areas as far as Hawaii and Easter Island.  Art from these peoples vary throughout different regions and cultures.  Themes of the supernatural and fertility are the most common.  Masks, tattoos, painting, petroglyphs, stone and wood carving, and textile are the most common art forms.</p></div>

<script type="text/javascript"><!--
google_ad_client = "pub-0956577070291964";
google_ad_width = 728;
google_ad_height = 90;
google_ad_format = "728x90_as";
google_ad_type = "text_image";
google_color_border = "E9E9E9";
google_color_bg = "FFFFFF";
google_color_link = "000080";
google_color_text = "000000";
google_color_url = "808080";
//-->
</script>
<script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</div>
<div class="fb-comments" data-href="http://totallyhistory.com/art-history/" data-width="728" data-num-posts="10"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>
<div id="sidebar" class="sidebar widget-area">
  <div class="widget-wrap">
    <li id="recent-posts-3" class="widget widget_recent_entries">		<h4 class="widgettitle">Được xem nhiều nhất</h4>		<ul>
      <li>
        <a href="#">Victor Ortiz</a>
      </li>
      <li>
        <a href="#">Julio Cesar Chavez, Jr.</a>
      </li>
      <li>
        <a href="#">Timothy Bradley</a>
      </li>
      <li>
        <a href="#">Manny Pacquiao</a>
      </li>
      <li>
        <a href="#">Floyd Mayweather, Jr.</a>
      </li>
    </ul>
    </li>
    <li id="execphp-3" class="widget widget_execphp">			<div class="execphpwidget"><center>

    </center></div>
    </li>
  </div>
</div> </div>
<div id="footer">
  <div class="wrap">
    <div class="creds">
      <p> Bản quyền &copy; 2014 &#xb7; FIT-HANU &#xb7; Mọi quyền được bảo vệ. | <a rel="nofollow" href="#">Điều khoản sử dụng</a> | <a rel="nofollow"  href="contact.htm"> Liên hệ với chúng tôi</a></p>
    </div>
  </div>
</div>
<a id="scroll-to-top" href="#" title="Scroll to Top">Top</a>
<script type='text/javascript' src='#'></script>
<script type='text/javascript' src='#'></script>


</div>
</body></html>