a#scroll-to-top {
	background: url("../images/arrow.png") no-repeat center; outline: 0px; width: 35px; height: 35px; right: 30px; bottom: 30px; text-indent: -9999px; font-size: 0px; position: fixed; cursor: pointer;
}
